<template>
    <v-app id="keep">
        <v-app-bar
            app
            clipped-left
            clipped-right
            color="primary"
        >
            <span class="title ml-3 mr-5">Project Time</span>
            <v-text-field
                solo-inverted
                flat
                hide-details
                label="Search"
                prepend-inner-icon="search"
            />

            <v-spacer/>

            <v-app-bar-nav-icon @click="helpDrawer = !helpDrawer">
                <v-icon>help</v-icon>
            </v-app-bar-nav-icon>
        </v-app-bar>

        <v-navigation-drawer
            permanent
            expand-on-hover
            app
            clipped
            color="secondary"
        >
            <v-list
                dense
                class="secondary"
            >
                <template v-for="(item, i) in items">
                    <v-row
                        v-if="item.heading"
                        :key="i"
                        align="center"
                    >
                        <v-col cols="6">
                            <v-subheader v-if="item.heading">
                                {{ item.heading }}
                            </v-subheader>
                        </v-col>
                        <v-col
                            cols="6"
                            class="text-right"
                        >
                            <v-btn
                                small
                                text
                            >edit
                            </v-btn>
                        </v-col>
                    </v-row>
                    <v-divider
                        v-else-if="item.divider"
                        :key="i"
                        dark
                        class="my-4"
                    />


                    <v-list-item
                        v-else
                        :key="i"
                        link
                    >
                        <v-list-item-action>
                            <v-icon>{{ item.icon }}</v-icon>
                        </v-list-item-action>
                        <v-list-item-content>
                            <v-list-item-title class="black--text">
                                {{ item.text }}
                            </v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>

                </template>
            </v-list>
        </v-navigation-drawer>

        <v-navigation-drawer
            v-model="helpDrawer"
            app
            clipped
            color="secondary"
            right
        >
            <v-list
                dense
                class="secondary"
            >
                <template v-for="(item, i) in helpItems">
                    <v-list-item
                        :key="i"
                        link
                    >
                      <v-list-item-icon>
                         <v-icon>{{ item.icon }}</v-icon>
                      </v-list-item-icon>
                        <v-list-item-content>
                            <v-list-item-title class="black--text">
                                {{ item.text }}
                            </v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                </template>
            </v-list>
        </v-navigation-drawer>

        <v-content>
           <router-view></router-view>
        </v-content>
    </v-app>
</template>

<script>
	export default {
		props: {
			source: String,
		},
		data: () => ({
			drawer: false,
			helpDrawer: false,
			items: [
				{
					icon: 'lightbulb_outline',
					text: 'Notes'
				},
				{
					icon: 'touch_app',
					text: 'Reminders'
				},
				{
					icon: 'add',
					text: 'Create new label'
				},
				{
					icon: 'archive',
					text: 'Archive'
				},
				{
					icon: 'delete',
					text: 'Trash'
				},
				{
					icon: 'settings',
					text: 'Settings'
				},
				{
					icon: 'chat_bubble',
					text: 'Trash'
				},
				{
					icon: 'help',
					text: 'Help'
				},
				{
					icon: 'phonelink',
					text: 'App downloads'
				},
				{
					icon: 'keyboard',
					text: 'Keyboard shortcuts'
				},
			],
			helpItems: [
				{
					icon: 'lightbulb_outline',
					text: 'Tutorial 1'
				},
				{
					icon: 'lightbulb_outline',
					text: 'Tutorial 2'
				},
				{
					icon: 'lightbulb_outline',
					text: 'Tutorial 3'
				},
				{
					icon: 'lightbulb_outline',
					text: 'Tutorial 4'
				},
				{
					icon: 'lightbulb_outline',
					text: 'Tutorial 5'
				}
			],
		}),
	}
</script>

<style>

</style>
