<template>
    <v-container fluid class="container-content" accent>
        <v-layout row wrap>
            <v-flex pa-2>
                <h2 v-if="board">{{board.name}}</h2>
            </v-flex>
            <v-flex>
                <v-layout class="card-list-layout">
                    <v-flex v-for="list in lists" :key="list._id" pa-2>
                        <List :name="list.name"/>
                    </v-flex>
                </v-layout>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
	import List from './component/List';

	export default {
		name: 'BoardPage',
		components: { List },
		data: () => ({
			activitiesOpen: true,
			board: {
				name: 'Test Board'
			},
			lists: [
				{
					id: 1,
					name: 'Col1'
				},
				{
					id: 2,
					name: 'Col2'
				},
				{
					id: 3,
					name: 'Col3'
				},
				{
					id: 4,
					name: 'Col4'
				},
				{
					id: 5,
					name: 'Col5'
				},
				{
					id: 6,
					name: 'Col6'
				},
				{
					id: 7,
					name: 'Col7'
				}
			]
		}),
	};
</script>

<style lang="scss" scoped>
    @import '../../core/sass/custom';

    .card-list-layout {
        overflow-x: auto; /* Add the ability to scroll */
    }

    /* Hide scrollbar for Chrome, Safari and Opera */
    .card-list-layout::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE and Edge */
    .card-list-layout {
        -ms-overflow-style: none;
    }

    .container-content {
        min-height: 100%;
    }

</style>
