<template>
    <Layout/>
</template>

<script>
	import Layout from './core/layout/Layout';

	export default {
		name: 'App',

		components: {
			Layout,
		},

		data: () => ({
			//
		}),
	};
</script>
