<template>
  <v-card min-width="300" max-width="300">
    <v-card-title>
      {{ name }}
    </v-card-title>
    <v-card-text>
      <v-flex>
        <draggable v-model="items" group="kanban" tag="ul">
          <div v-for="item in items" v-bind:key="item.id">
            <ListItem :title="item.name"></ListItem>
          </div>
        </draggable>
      </v-flex>
    </v-card-text>

  </v-card>
</template>

<script>
import draggable from 'vuedraggable';
import ListItem from './ListItem';

export default {
  name: 'List',
  props: ['name'],
  components: {
    ListItem,
    draggable,
  },
  data()
  {
    return {
      items: [
        {
          name: 'Card 1',
          id: 1,
        },
        {
          name: 'Card 2',
          id: 2,
        },
        {
          name: 'Card 3',
          id: 3,
        },
        {
          name: 'Card 4',
          id: 4,
        },
        {
          name: 'Card 5',
          id: 5,
        },
        {
          name: 'Card 6',
          id: 6,
        },
        {
          name: 'Card 7',
          id: 7,
        },
      ],
    };
  },
};
</script>

<style scoped>

</style>
