<template>
    <div>
        <v-flex ma-2>
            <v-card >
                <v-card-title>
                    {{ title}}
                </v-card-title>
            </v-card>
        </v-flex>
    </div>
</template>

<script>
	export default {
		name: 'ListItem',
		props: ['title']
	}
</script>

<style scoped>

</style>
